@font-face {
	font-family: "Scada";
	src: url("../fonts/scada-regular-webfont.eot");
	src: url("../fonts/scada-regular-webfont.ttf") format("truetype"),
     url("../fonts/scada-regular-webfont.otf") format("opentype"), 
     url("../fonts/scada-regular-webfont.woff") format("woff"),
     url("../fonts/scada-regular-webfont.svg#scada-regular-webfont") format("svg");
	font-weight: normal;
  	font-style: normal;
}

body{
	font-family: "Scada";
}

header{
	overflow: hidden;
}

button, a{
	cursor: pointer;
}

.topo{
	background: #91ce00;
	padding: 5px 0;
}

.topo{
	display: block;
	overflow: hidden;
	float: left;
}

.topo h1{
	overflow: hidden;
	width: 140px;
	margin: 0 auto;
}

.menu-mobile{
	float: left;
	margin-top: 10px;
}

.busca-topo{
	display: block;
	overflow: hidden;
	float: right;
	margin-top: 10px;
}

.busca-destaque{
	background: #f4f4f4;
}

.busca-destaque header h1{
	color: #666;
	font-size: 20px;
	text-align: center;
	margin: 30px 0px 15px 0px; 
}

.box-busca-destaque{
	width: 280px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.box-busca-destaque input{
	width: 278px;
	height: 50px;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	padding: 0 10px;
	outline: none;
}

.box-busca-destaque button{
	font-size: 15px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background: #66cc33;
	border: 0px;
	border-bottom: 2px solid #52a329;
	width: 280px;
	padding: 10px 0px;
	margin-top: 10px;
	outline: none;
}

.box-busca-destaque button:active{
	border-top: 2px solid #52a329;
	border-bottom: 0;
}

.topicos-novidade{
	padding: 30px 0px;
}

.topicos-novidade header{ display: none;}

.topicos-novidade ul{
	width: 270px;
	margin: 0 auto;
	list-style: none;
	padding: 0;
	display: block;
	overflow: hidden;
}

.topicos-novidade ul li{
	border-radius: 5px;
	border: 1px solid #bcbcbc;
	padding: 10px;
	width: 270px;
	height: 125px;
	margin-bottom: 15px;
}

.topicos-novidade ul li p{
	margin: 0;
}

.topicos-novidade ul li p a{
	display: block;
	overflow: hidden;
	color: #666666;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

.topicos-novidade ul li p a span{
	display: inline-block;
	overflow: hidden;
}

.topicos-novidade ul li p a span img{
	display: inline-block;
	width: 18px;
}

.topicos-novidade ul li h1{
	margin: 0;
	padding: 0;
}

.topicos-novidade ul li h1 a{
	color: #3399cc;
	font-size: 20px;
	display: block;
	line-height: 22px;
	padding-top: 25px;
}

.topicos-novidade ul li p a:hover, .topicos-novidade ul li h1 a:hover{
	text-decoration: none;
}

.categorias-destaque header h1{
	display: none;
}

.categorias-destaque ul{
	display: block;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 280px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.categorias-destaque ul li{
	border-radius: 5px;
	border: 1px solid #bcbcbc;
	padding: 10px;
	width: 270px;
	height: 180px;
	margin-bottom: 10px;
	padding: 30px 10px;
	overflow: hidden;
}

.categorias-destaque ul li a{
	display: block;
	overflow: hidden;
	text-align: center;
	color: #3399cc;
}

.categorias-destaque ul li a:hover{
	text-decoration: none;
}

.categorias-destaque ul li img{
	display: block;
	overflow: hidden;
	width: 60px;
	margin: 0 auto;
}

.categorias-destaque ul li h1 a{
	font-size: 20px;
	color: #666;
	line-height: 22px;
	text-align: center;
}

.rodape{
	padding: 30px 0px;
	border-top: 1px solid #ccc;
}

.rodape header{
	display: none;
}

.central-ajuda, .treinamentos{
	display: none;
}

.duvidas-sugestoes{
	width: 190px;
	margin: 0 auto;
	overflow: hidden;
}

.duvidas-sugestoes h1{
	color: #666;
	font-size: 20px;
	margin: 0;
}

#footer{
	background: #fff !important;
	font-size: 9px;
	text-align: center;
	border-top: 1px solid #ccc;
}

.duvidas-sugestoes h2{
	color: #666;
	font-size: 13px;
	line-height: 22px;
	margin: 0;
}

.duvidas-sugestoes ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 280px;
}

.duvidas-sugestoes ul li{
	display: inline-block;
	width: 55px;
}

.duvidas-sugestoes ul li img{
	display: block;
	overflow: hidden;
	width: 45px;
	margin: 0 auto;
	border-radius: 99px;
}

.duvidas-sugestoes ul li span{
	display: block;
	overflow: hidden;
	color: #666;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
}

.contato-footer{
	display: block;
	float: right;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background: #66cc33;
	border: 0px;
	border-bottom: 2px solid #52a329;
	width: 130px;
	padding: 6px 0px;
	margin-top: 10px;
	outline: none;
}

.contato-footer:hover{
	text-decoration: none;
	color: #fff;
	text-decoration: none;
}

.contato-footer:active{
	border-top: 2px solid #52a329;
	border-bottom: 0;
}

.login header h1{
	color: #666;
	font-size: 18px;
	width: 280px;
	margin: 30px auto 10px auto;
}

.box-login{
	width: 280px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.box-login button{
	font-size: 15px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background: #66cc33;
	border: 0px;
	border-bottom: 2px solid #52a329;
	width: 280px;
	padding: 10px 0px;
	margin-top: 10px;
	outline: none;
}

.box-login button:active{
	border-top: 2px solid #52a329;
	border-bottom: 0;
}

.input-email{
	border-radius: 5px;
	border:1px solid #cccccc;
	padding: 10px 10px 10px 25px;
	width: 280px;
	margin: 5px auto;
	background: url("../img/ico-login-mail.jpg") 10px 9px no-repeat;
}

.input-email input{
	border:0px;
	height: 20px;
	background: transparent;
	width: 230px;
	margin-left: 10px;
}

.input-senha{
	border-radius: 5px;
	border:1px solid #cccccc;
	padding: 10px 10px 10px 25px;
	width: 280px;
	margin: 5px auto;
	background: url("../img/ico-login-senha.jpg") 10px 9px no-repeat;
}

.input-senha input{
	border:0px;
	height: 20px;
	background: transparent;
	width: 230px;
	margin-left: 10px;
}

.esqueceu-senha{
	font-size: 13px;
	display: block;
	overflow: hidden;
	color: #666;
	width: 280px;
	margin: 0 auto;
	text-align: right;
}

.esqueceu-senha:hover{
	color: #666;
}

.migalha{
	margin: 20px 0 30px;
}

.migalha ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.migalha ul li{
	display: inline-block;
}

.migalha ul li a:after{
	content: " >";
	color: #666;
	font-size: 11px;
}

.migalha ul li a, .migalha ul li span{
	color: #666;
	font-size: 12px;
}

.leitura section{
	padding-top: 30px;
}

.leitura header h1{
	margin: 0 0 5px 0;
	color: #666;
	font-size: 30px;
}

.leitura header p{
	font-size: 12px;
	color: #666;
	margin: 0;
	padding: 0;
}

.leitura article h2, .leitura article h3, .leitura article h4, .leitura article h5, .leitura article h6{
	font-size: 20px;
	color: #666;
}

.leitura article p, .leitura article blockquote p{
	font-size: 13px;
	color: #666;
}

.leitura article p a, .leitura article blockquote p a{
	color: #3399cc;
}

.leitura article img{
	display: block;
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
}

.leitura article blockquote{
	border: 1px dashed #3399cc;
	padding: 15px;
}

.box-video-leitura{
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
    margin-bottom: 20px;
}

.box-video-leitura iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ajudou{
	background: #91ce00;
	padding-bottom: 20px;
	overflow: hidden;
	margin-bottom: 30px;
}

.ajudou h1{
	color: #fff;
	font-size: 30px;
	text-align: center;
}

.box-resposta-ajudou{
	width: 150px;
	margin: 0 auto;
}

.sim{
	display: block;
	overflow: hidden;
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	border-top: 2px solid #669000;
	border-left: 2px solid #669000;
	border-right: 2px solid #669000;
	border-bottom: 5px solid #669000;
	background: url("../img/sim.png") 10px 6px #fff no-repeat;
	text-indent: -9999px;
}

.active-sim{
	border-bottom: 2px solid #fff !important;
	border-left: 2px solid #fff !important;
	border-right: 2px solid #fff !important;
	border-top: 5px solid #fff !important;
	background: url("../img/sim-active.png") 9px 6px #3399CA no-repeat !important;
}

.nao{
	display: block;
	overflow: hidden;
	float: right;
	width: 60px;
	height: 60px;
	border-radius: 99px;
	border-top: 2px solid #669000;
	border-left: 2px solid #669000;
	border-right: 2px solid #669000;
	border-bottom: 5px solid #669000;
	background: url("../img/nao.png") 9px 10px #fff no-repeat;
	text-indent: -9999px;
}

.active-nao{
	border-bottom: 2px solid #fff !important;
	border-left: 2px solid #fff !important;
	border-right: 2px solid #fff !important;
	border-top: 5px solid #fff !important;
	background: url("../img/nao-active.png") 9px 10px #3399CA no-repeat !important;
}

.categorias header h1{
	font-size: 30px;
	color: #666;
	margin: 0;
	margin-top: 5px;
}

.categorias section{
	padding-bottom: 70px;
}

.categorias section article ul{
	margin: 0;
	padding: 0;
	margin-top: 30px;
	list-style: none;
}

.categorias section article ul li{
	margin-bottom: 10px;
}

.categorias section article ul li a{
	font-size: 16px;
	color: #3499CC;
}

.resultado header h1{
	font-size: 30px;
	color: #666;
	margin-bottom: 60px;
}

.resultado header h1 span{
	color: #3499CC;
}

.resultado ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

.resultado ul li{
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.resultado ul li h2{
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.resultado ul li h2 a{
	font-size: 18px;
	line-height: 20px;
	color: #3499CC;
}

.resultado ul li:last-child{
	border-bottom: 0px;
}

.migalha-resultado{
	margin-bottom: 15px;
}

.migalha-resultado a, .migalha-resultado span{
	font-size: 12px;
	color: #666;
}

.migalha-resultado a:after{
	content: " >";
	font-size: 11px;
}

.fale-equipe{
	width: 290px;
	margin: 0 auto;
}

.fale-equipe h1{
	color: #666;
	font-style: italic;
	font-size: 20px;
}

.email-equipe{
	color: #3499CC;
	display: block;
	overflow: hidden;
	margin: 15px 0px;
}

.telefone-equipe{
	color: #3499CC;
	display: block;
	overflow: hidden;
}

.contato ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 280px;
	margin-top: 10px;
}

.contato ul li{
	display: inline-block;
	width: 55px;
}

.contato ul li img{
	display: block;
	overflow: hidden;
	width: 45px;
	margin: 0 auto;
	border-radius: 99px;
}

.contato ul li span{
	display: block;
	overflow: hidden;
	color: #666;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
}

.mande-mensagem{
	background: #f5f5f5;
	padding: 30px;
	margin: 20px auto;
	overflow: hidden;
}

.mande-mensagem h2{
	margin: 0;
	padding: 0;
	font-size: 20px;
	margin-bottom: 20px;
}

.mande-mensagem form div{
	border:1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
	padding: 8px 5px 8px 40px;
}

.mande-mensagem form div input{
	width: 98%;
	border:0;
}

.mande-mensagem form textarea{
	background: #fff;
	border:1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	height: 100px;
	overflow: auto;
}

.mande-mensagem small{
	color: #cb1623;
	padding-left: 15px;
}

.campo-email{
	background: url("../img/ico-login-mail.jpg") 12px 7px #fff no-repeat;
}

.campo-nome{
	background: url("../img/ico-contato-nome.jpg") 12px 9px #fff no-repeat;
}

.campo-telefone{
	background: url("../img/ico-contato-fone.jpg") 12px 9px #fff no-repeat;
}

.mande-mensagem button{
	background: #66CB35;
	border-radius:5px;
	color: #fff;
	font-size: 15px;
	text-align: center;
	padding: 5px 0px;
	width: 100px;
	border: 0px;
	border-bottom: 2px solid #52a329;
	outline: none;
	float: right;
}

.mande-mensagem button:active{
	border-top: 2px solid #52a329;
	border-bottom: 0px;
}

.treinamentos, .topo .menu-desk, .centralajuda, .print, .box-cotegorias-leitura{display: none;}

.box-menu-lateral{
	width: 300px;
	background: #fff;
	position: fixed;
	left: -300px;
	height: 100%;
	overflow: auto;
	z-index: 100;
	box-shadow: 3px 0px 10px #BBB;
}

.box-busca-lateral{
	width: 320px;
	background: #fff;
	position: fixed;
	right: -320px;
	height: 100%;
	overflow: auto;
	z-index: 100;
	box-shadow: 3px 0px 10px #BBB;
}

.campo-busca{
	height: 52px;
	background: #91CE00;
	width: 100%;
}

.box-campo-busca{
	width: 305px;
	margin: 0 auto;
	overflow: hidden;
}

.box-input-busca-topo{
	border-radius: 3px;
	background: #fff;
	padding: 5px;
	display: block;
	float: left;
	margin-top: 5px;
}

.box-input-busca-topo input{
	float: left;
	width: 200px;
	height: 30px;
	border: 0;
}

.box-input-busca-topo button{
	float: left;
	background: none;
	border: 0px;
	margin-top: 3px;
}

.box-input-busca-topo button img{
	display: block;
	width: 20px;
}

.cancelar-busca{
	display: block;
	float: left;
	color: #fff;
	text-align: center;
	width: 50px;
	padding: 15px 0;
	margin-left: 10px;
}

.cancelar-busca:active, .cancelar-busca:hover{
	color: #fff;
}

.list-pag{
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-pag li a{
	color: #fff;
	display: block;
	text-align: left;
	background: #91ce00;
	padding: 12px 20px;
}

.fecha-menu{
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 0 !important;
}

.box-menu-lateral .lista-categorias-leitura{
	margin: -1px 0 0 20px;
}

.lista-categorias-leitura{
	list-style: none;
	padding: 0;
	margin: 20px 0 0;
}

.lista-categorias-leitura>li{
	border-top: 1px solid #ccc;
	display: block;
	padding: 15px 0;
	margin-bottom: 0 !important;
}

.lista-categorias-leitura>li>a>img{
	display: inline-block;
	width: 20px;
}

.lista-categorias-leitura>li>a>span{
	color: #666;
	display: inline-block;
	margin-left: 10px;
}

.lista-categorias-leitura>li>ul{
	list-style: none;
	border-top: 1px solid #ccc;
	margin-top: 15px;
}

.lista-categorias-leitura>li>ul>li{
	border-bottom: 1px solid #ccc;
}

.lista-categorias-leitura>li>ul>li:last-child{
	border-bottom: 0px;
}

.lista-categorias-leitura>li>ul>li>a{
	display: block;
	color: #666;
	padding: 15px 0 15px 15px;
}

.lista-categorias-leitura>li>ul>li>a:hover{
	transition:all 0.2s linear;
	background: #3399cc;
	color: #fff;
	text-decoration: none;
}

@media (min-width: 640px){
	
	.row-fluid{
		padding: 0px 30px;
	}

	.box-busca-destaque{
		width: 555px;
	}

	.box-busca-destaque input{
		width: 440px;
		height: 45px;
		display: inline-block;
	}

	.box-busca-destaque button{
		width: 110px;
		display: inline-block;
	}

	.topicos-novidade ul, .categorias-destaque ul{
		width: 555px;
	}

	.topicos-novidade ul li, .categorias-destaque ul li{
		display: inline-block;
	}

	.topicos-novidade ul li:nth-child(2n), .categorias-destaque ul li:nth-child(2n){
		margin-left: 10px;
	}

	.duvidas-sugestoes{
		float: left;
	}

	.treinamentos {
		display: block;
		width: 240px;
		float: right;
	}

	.treinamentos h1{
		color: #666;
		font-size: 20px;
		margin: 0;
	}

	.treinamentos small{
		color: #666;
		font-size: 13px;
	}

	.treinamentos a{
		display: block;
		float: right;
		font-size: 14px;
		text-align: center;
		color: #fff;
		border-radius: 5px;
		background: #66cc33;
		border: 0px;
		border-bottom: 2px solid #52a329;
		width: 100px;
		padding: 6px 0px;
		margin-top: 10px;
		outline: none;
	}

	.treinamentos a:hover{
		text-decoration: none;
	}

	.treinamentos a:active{
		border-top: 2px solid #52a329;
		border-bottom: 0;
	}

	.fale-equipe{
		float: left;
		width: 290px;
	}

	.box-busca-lateral{
		width: 800px;
		right: -800px;
	}

	.box-campo-busca{
		width: 320px;
	}

	.leitura section{
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (min-width: 900px){

	.row-fluid{
		padding: 0px;
	}

	.topo .menu-mobile, .busca-topo{
		display: none;
	}

	.topo h1{
		float: left;
	}

	.login h1{
		float: none !important;
	}

	.topo .menu-desk{
		display: block;
		list-style: none;
		float: right !important;
		margin: 10px 0 0;
		padding: 0;
	}

	.topo .menu-desk li{
		display: inline-block;
		margin-left: 20px;
	}

	.topo .menu-desk li a{
		color: #fff;
		font-family: "Scada", sans-serif;
		font-size: 13px;
	}

	.busca-destaque header h1{
		font-size: 30px;
		margin: 60px 0px 15px 0px;
	}

	.box-busca-destaque{
		margin-bottom: 60px;
	}

	.topicos-novidade ul, .categorias-destaque ul{
		width: 950px;
	}

	.topicos-novidade ul li:nth-child(2n), .categorias-destaque ul li:nth-child(2n){
		margin-left: 0px;
	}

	.topicos-novidade ul li{
		width: 220px;
	}

	.categorias-destaque ul li{
		width: 295px;
	}

	.centralajuda{
		display: block;
		width: 330px;
		float: left;
	}

	.centralajuda h1{
		color: #666;
		font-size: 20px;
		margin: 0;
	}

	.centralajuda ul{
		list-style: none;
		margin: 20px 0 0;
		padding: 0;
	}

	.centralajuda ul li{
		margin-bottom: 5px;
	}

	.centralajuda ul li a{
		font-family: "Scada", sans-serif;
		font-size: 12px;
		color: #666;
	}

	.box-contato{
		width: 700px;
		margin: 0 auto;
	}

	.leitura section, .categorias section{
		width: 600px;
		float: left;
		border-left: 1px solid #ccc;
		padding-left: 50px;
	}

	.box-cotegorias-leitura{
		display: block;
		width: 240px;
		float: left;
		padding-top: 50px;
	}

	.box-busca-leitura{
		margin-bottom: 30px;
		margin-right: 20px;
		border: 1px solid #ccc;
		border-radius:5px;
		padding: 5px;
		overflow: hidden;
	}

	.box-busca-leitura input{
		float: left;
		width: 170px;
		border: 0;
		margin-top: 2px;
	}

	.box-busca-leitura button{
		float: right;
		background: none;
		border: 0;
		width: 30px;
		margin: 0;
	}

	.box-busca-leitura button img{
		display: block;
		width: 20px;
	}

	.print{
		display: block;
		float: right;
		height: 35px;
	}

	.print img{
		display: block;
		width: 35px;
	}

}
