html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negativo rodape travessao por sua altura */
  margin: 0 auto -30px;
}

/* Defina a altura fixa de rodape aqui */
#push,
#footer {
  height: 30px;
}

#footer {
  background-color: #f5f5f5;
}

/* Por ultimo, aplicar correcoes CSS sensíveis, se necessario */
@media (max-width: 767px) {
  #footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.containerTudo{
  width: 100%;
}

.container-fluid {
  margin: 0 auto;
  max-width: 950px;
  position: relative;
}
.container-fluid .credit {
  margin: 10px 0 0;
}